body{background-color:#fff;color:#333;font-family:Arial,Verdana,sans-serif;font-size:62.5%;margin:10% 5% 0 5%;text-align:center;}
    form{margin-bottom:1em;}
    a,a:visited,a:active{color:#0080ff;text-decoration:underline;}
    a:hover{text-decoration:none;}
    input[type=text]{border:1px solid #ccc;color:#000;font-size:1em;padding:4px 6px 4px 6px;}
    .domain{font-weight:bold;}
    a.adlink{color: orange;}
    #container{clear:both;font-size:3em;margin:auto;}
    #domain_input{width:236px;}
    #coupon{font-size: 0.4em;}
    .smile-container {width:300px;margin:0 auto; font-size: 0.4em;}
    p{font-size:20px;}